{% include "alpha/body/header.html" %}
{% load staticfiles %}
<title>Genus | My Dashboard</title>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="u-mv-large u-text-center">
                        <h2 class="u-mb-xsmall">
                          {% if user.is_authenticated %}
                              Hi {{ user.get_username }}! Welcome to Genus.
                          {% else %}
                              Welcome to Genus.
                          {% endif %}
                        </h2>
                        <p class="u-text-mute u-h6">You can setup and control your chama activities from here and reduce paper work. <a href="#">Read more</a></p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 col-lg-4">
                    <div class="c-card u-p-medium u-text-center u-mb-medium" data-mh="landing-cards">

                        <img class="u-mb-small" src="{% static 'img/icon-intro1.svg' %}" alt="iPhone icon">

                        <h4 class="u-h6 u-text-bold u-mb-small">
                            Select to setup an existing chama or create new chama
                        </h4>
                        <a class="c-btn c-btn--info" href="{% url 'account_select_plan' %}">Setup new Chama</a>
                    </div>
                </div>

                <div class="col-sm-12 col-lg-4">
                    <div class="c-card u-p-medium u-text-center u-mb-medium" data-mh="landing-cards">

                        <img class="u-mb-small" src="{% static 'img/icon-intro3.svg' %}" alt="iPhone icon">

                        <h4 class="u-h6 u-text-bold u-mb-small">
                           Join an already existing chama using private code
                        </h4>
                        <a class="c-btn c-btn--info" href="#">Join a Chama</a>
                    </div>
                </div>

                <div class="col-sm-12 col-lg-4">
                    <div class="c-card u-p-medium u-text-center u-mb-medium" data-mh="landing-cards">

                        <img class="u-mb-small" src="{% static 'img/icon-intro2.svg' %}" alt="iPhone icon">

                        <h4 class="u-h6 u-text-bold u-mb-small">
                            All my Chama's Analytics and performance to plan a head
                        </h4>
                        <a class="c-btn c-btn--info" href="#">Check Analytics</a>
                    </div>
                </div>

            </div>
        </div>
        </main>
{% include "alpha/body/footer.html" %}
