{% include "alpha/body/header.html" %}
{% load staticfiles %}
        <title>Genus | My Dashboard</title>
        <!-- MAIN CONTENT -->
        <main class="o-page__content">
            <header class="c-navbar u-mb-medium">
                <button class="c-sidebar-toggle js-sidebar-toggle">
                    <span class="c-sidebar-toggle__bar"></span>
                    <span class="c-sidebar-toggle__bar"></span>
                    <span class="c-sidebar-toggle__bar"></span>
                </button>

                <h2 class="c-navbar__title u-mr-auto">Getting Started</h2>
                  {% if user.is_staff %}
                    <h2 class="c-navbar__title u-mr-auto"><a href="/v1/portal/" target="_blank">Admin</a></h2>
                  {% endif %}
                <div class="c-dropdown u-hidden-down@mobile">
                    <a class="c-notification dropdown-toggle" href="#" id="dropdownMenuUser" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="c-notification__icon">
                            <i class="fa fa-user-o"></i>
                        </span>
                        <span class="c-notification__number">3</span>
                    </a>

                    <div class="c-dropdown__menu c-dropdown__menu--large dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuUser">
                        <a href="#" class="c-dropdown__item dropdown-item o-media">
                            <span class="o-media__img u-mr-xsmall">
                                <span class="c-avatar c-avatar--xsmall">
                                    <img class="c-avatar__img" src="{% static 'img/avatar1-72.jpg' %}" alt="User's Profile Picture">
                                </span>
                            </span>
                            <div class="o-media__body">
                                <h6 class="u-mb-zero">Someone mentioned you</h6>
                                <p class="u-text-mute">You have recieved a mention on twitter, check it out!</p>
                            </div>
                        </a>
                        <a href="#" class="c-dropdown__item dropdown-item o-media">
                            <span class="o-media__img u-mr-xsmall">
                                <span class="c-avatar c-avatar--xsmall">
                                    <img class="c-avatar__img" src="{% static 'img/avatar1-72.jpg' %}" alt="User's Profile Picture">
                                </span>
                            </span>
                            <div class="o-media__body">
                                <h6 class="u-mb-zero">Recieved a Payment</h6>
                                <p class="u-text-mute">You have recieved a mention on twitter, check it out!</p>
                            </div>
                        </a>
                        <a href="#" class="c-dropdown__item dropdown-item o-media">
                            <span class="o-media__img u-mr-xsmall">
                                <span class="c-avatar c-avatar--xsmall">
                                    <img class="c-avatar__img" src="{% static 'img/avatar1-72.jpg' %}" alt="User's Profile Picture">
                                </span>
                            </span>
                            <div class="o-media__body">
                                <h6 class="u-mb-zero">You got a promotion</h6>
                                <p class="u-text-mute">You have recieved a mention on twitter, check it out!</p>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="c-dropdown dropdown u-mr-medium u-ml-small u-hidden-down@mobile">
                    <a class="c-notification dropdown-toggle" href="#" id="dropdownMenuAlerts" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="c-notification__icon">
                            <i class="fa fa-bell-o"></i>
                        </span>
                        <span class="c-notification__number">3</span>
                    </a>

                    <div class="c-dropdown__menu c-dropdown__menu--large dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuAlerts">
                        <a href="#" class="c-dropdown__item dropdown-item o-media">
                            <span class="o-media__img u-mr-xsmall">
                                <span class="c-avatar c-avatar--xsmall">
                                    <span class="c-avatar__img u-bg-success u-flex u-justify-center u-align-items-center">
                                        <i class="fa fa-check u-text-large u-color-white"></i>
                                    </span>
                                </span>

                            </span>
                            <div class="o-media__body">
                                <h6 class="u-mb-zero">Completed a task</h6>
                                <p class="u-text-mute">You have recieved a mention on twitter, check it out!</p>
                            </div>
                        </a>

                        <a href="#" class="c-dropdown__item dropdown-item o-media">
                            <span class="o-media__img u-mr-xsmall">
                                <span class="c-avatar c-avatar--xsmall">
                                    <span class="c-avatar__img u-bg-fancy u-flex u-justify-center u-align-items-center">
                                        <i class="fa fa-calendar u-text-large u-color-white"></i>
                                    </span>
                                </span>

                            </span>
                            <div class="o-media__body">
                                <h6 class="u-mb-zero">Company meetup</h6>
                                <p class="u-text-mute">You have recieved a mention on twitter, check it out!</p>
                            </div>
                        </a>
                        <a href="#" class="c-dropdown__item dropdown-item o-media">
                            <span class="o-media__img u-mr-xsmall">
                                <span class="c-avatar c-avatar--xsmall">
                                    <span class="c-avatar__img u-bg-primary u-flex u-justify-center u-align-items-center">
                                        <i class="fa fa-info u-text-large u-color-white"></i>
                                    </span>
                                </span>

                            </span>
                            <div class="o-media__body">
                                <h6 class="u-mb-zero">Someone mentioned you</h6>
                                <p class="u-text-mute">You have recieved a mention on twitter, check it out!</p>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="c-dropdown dropdown">
                    <a  class="c-avatar c-avatar--xsmall has-dropdown dropdown-toggle" href="#" id="dropdwonMenuAvatar" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img class="c-avatar__img" src="{% static 'img/avatar1-72.jpg' %}" alt="User's Profile Picture">
                    </a>

                    <div class="c-dropdown__menu dropdown-menu dropdown-menu-right" aria-labelledby="dropdwonMenuAvatar">
                        <a class="c-dropdown__item dropdown-item" href="#">Edit Profile</a>
                        <a class="c-dropdown__item dropdown-item" href="#">View Activity</a>
                        <a class="c-dropdown__item dropdown-item" href="#">Manage Roles</a>
                        <a class="c-dropdown__item dropdown-item" href="{% url 'core_logout' %}">Logout</a>
                    </div>
                </div>
            </header><!-- // .c-navbar -->

        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="u-mv-large u-text-center">
                        <h2 class="u-mb-xsmall">
                          {% if user.is_authenticated %}
                              Hi {{ user.get_username }}! Welcome to Genus.
                          {% else %}
                              Welcome to Genus.
                          {% endif %}
                        </h2>
                        <p class="u-text-mute u-h6">You can setup and control your chama activities from here and reduce paper work. <a href="#">Read more</a></p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 col-lg-4">
                    <div class="c-card u-p-medium u-text-center u-mb-medium" data-mh="landing-cards">

                        <img class="u-mb-small" src="{% static 'img/icon-intro1.svg' %}" alt="iPhone icon">

                        <h4 class="u-h6 u-text-bold u-mb-small">
                            Select to setup an existing chama or create new chama
                        </h4>
                        <a class="c-btn c-btn--info" href="#">Setup new Chama</a>
                    </div>
                </div>

                <div class="col-sm-12 col-lg-4">
                    <div class="c-card u-p-medium u-text-center u-mb-medium" data-mh="landing-cards">

                        <img class="u-mb-small" src="{% static 'img/icon-intro3.svg' %}" alt="iPhone icon">

                        <h4 class="u-h6 u-text-bold u-mb-small">
                           Join an already existing chama using private code
                        </h4>
                        <a class="c-btn c-btn--info" href="#">Join a Chama</a>
                    </div>
                </div>

                <div class="col-sm-12 col-lg-4">
                    <div class="c-card u-p-medium u-text-center u-mb-medium" data-mh="landing-cards">

                        <img class="u-mb-small" src="{% static 'img/icon-intro2.svg' %}" alt="iPhone icon">

                        <h4 class="u-h6 u-text-bold u-mb-small">
                            All my Chama's Analytics and performance to plan a head
                        </h4>
                        <a class="c-btn c-btn--info" href="#">Check Analytics</a>
                    </div>
                </div>

            </div>
        </div>
        </main>
{% include "alpha/body/footer.html" %}
