{% include "alpha/body/header.html" %}
{% load staticfiles %}
<title>Genus | Create Chama</title>
            <div class="container">
                <div class="row u-mb-large">
                    <div class="col-12">
                        <div class="c-tabs">
                            <div class="c-tabs__content tab-content" id="nav-tabContent">
                                <div class="c-tabs__pane active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="u-mv-large u-text-center">
                                                <h2 class="u-mb-xsmall">
                                                  {% if user.is_authenticated %}
                                                      Hi {{ user.get_username }}! create Chama under {{ plan }} plan.
                                                  {% else %}
                                                      Oops! User not logged in.
                                                  {% endif %}
                                                </h2>
                                                <p class="u-text-mute u-h6">Kindly fill in the form below in order to be able to create a <b>Chama</b>. <a href="#">Read more</a></p>
                                            </div>
                                        </div>
                                    </div>
                                {# ============================================#}

                                  {% if messages %}
                                    {% for msg in messages %}
                                      <div class="alert alert-{{msg.level_tag}} alert-dismissible" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">x</button>
                                        {% autoescape off %}
                                          {{ msg.message }}
                                        {% endautoescape %}
                                      </div>
                                    {% endfor %}
                                  {% endif %}
                                  {% if form.errors %}
                                      {% for field in form %}
                                          {% for error in field.errors %}
                                              <div class="alert alert-danger">
                                                  <strong>{{ error|escape }}</strong>
                                              </div>
                                          {% endfor %}
                                      {% endfor %}
                                      {% for error in form.non_field_errors %}
                                          <div class="alert alert-danger">
                                              <strong>{{ error|escape }}</strong>
                                          </div>
                                      {% endfor %}
                                  {% endif %}
                              {# ============================================#}
                                <form method="post" action="{% url 'account_create_chama' %}">
                                  {% csrf_token %}
                                            <input type="text" name="plan" value="{{ plan }}" hidden>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="c-field u-mb-small">
                                                <label class="c-field__label" for="firstName">Chama Name</label>
                                                {{ form.name }}
                                            </div>

                                            <div class="c-field u-mb-small">
                                                <label class="c-field__label" for="lastName">Year Founded</label>
                                                {{ form.year_founded }}
                                            </div>
                                            <div class="c-field u-mb-small">
                                                <label class="c-field__label" for="email">Total Allowed Members</label>
                                                {{ form.maximum_members }}
                                            </div>

                                            <div class="c-field u-mb-small">
                                                <label class="c-field__label" for="bio">Brief Description</label>
                                                {{ form.description }}
                                            </div>

                                        </div>

                                        <div class="col-lg-6">
                                            <div class="c-field u-mb-small">
                                                <label class="c-field__label" for="companyName">Contribution Intervals</label>
                                                {{ form.contribution_intervals }}
                                            </div>

                                            <div class="c-field u-mb-small">
                                                <label class="c-field__label" for="website">Total Amount</label>
                                                {{ form.total_contributions }}
                                            </div>

                                            <div class="c-field u-mb-small">
                                                <label class="c-field__label" for="website">Current Total Amount Saved</label>
                                                {{ form.saved_amounts }}
                                            </div>

                                            <label class="c-field__label" for="socialProfile">Social Profiles</label>

                                            <div class="c-field has-addon-left u-mb-small">
                                                <span class="c-field__addon u-bg-twitter">
                                                    <i class="fa fa-twitter u-color-white"></i>
                                                </span>
                                                {{ form.twitter_link }}
                                            </div>

                                            <div class="c-field has-addon-left">
                                                <span class="c-field__addon u-bg-facebook">
                                                    <i class="fa fa-facebook u-color-white"></i>
                                                </span>
                                                {{ form.facebook_link }}
                                            </div>

                                            <div class="c-field u-mb-small" style="margin-top: 10px;">
                                                <div class="row">
                                                    <div class="col-lg-6">
                                                      <button class="c-btn c-btn--primary c-btn--fullwidth" type="reset">Reset</button>
                                                    </div>
                                                    <div class="col-lg-6">
                                                      <button class="c-btn c-btn--info c-btn--fullwidth" type="submit">Submit</button>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                  </form>
                                </div>

                            </div>
                        </div>

                    </div><!-- // .col-12 -->
                </div>

            </div><!-- // .container -->
        </main>
{% include "alpha/body/footer.html" %}
