{% include "alpha/accounts/header.html" %}
{% load staticfiles %}
    <title>Genus | Account Password Reset</title>
    <body class="o-page o-page--center">
        <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->
        <div class="o-page__card">
            <div class="c-card u-mb-xsmall">
                <header class="c-card__header u-text-center u-pt-large">
                    <a class="c-card__icon" href="#!">
                        <img src="{% static 'img/logo-login.svg' %}" alt="Genus">
                    </a>
                    <div class="row u-justify-center">
                        <div class="col-9">
                            <h1 class="u-h3"> Reset Password </h1>
                            <p class="u-h6 u-text-mute">
                                Enter new password to set
                            </p>
                        </div>
                    </div>
                </header>
                {% if messages %}
                  {% for msg in messages %}
                    <div class="alert alert-{{msg.level_tag}} alert-dismissible" role="alert">
                      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">x</button>
                      {% autoescape off %}
                        {{ msg.message }}
                      {% endautoescape %}
                    </div>
                  {% endfor %}
                {% endif %}
                {% if form.errors %}
                    {% for field in form %}
                        {% for error in field.errors %}
                            <div class="alert alert-danger">
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endif %}

                <form method="post" action="{% url 'core_pass_reset' %}" class="c-card__body">
                  {% csrf_token %}
                        <input class="c-input" type="hidden" name="Mobile_Number" id="Mobile_Number" value="{{ person }}" required="" hidden>
                    {% for field in form %}
                      <div class="c-field u-mb-small">
                        <label class="c-field__label" for="{{ field.name }}">{{ field.label }}</label>
                        {{ field }}
                      </div>
                    {% endfor %}
                    <button class="c-btn c-btn--info c-btn--fullwidth" type="submit">Verify Account</button>
                </form>
            </div>

            <a class="u-text-mute u-text-small" href="{% url 'core_register' %}">
                Don’t have an account yet? Get Started
            </a>
        </div>
{% include "alpha/accounts/footer.html" %}
